*{
	margin:0px;
	padding:0px;
}
#holder{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
#box1{
	width:200px;
	height:200px;
	background-color:pink;
}
#box2{
	width:200px;
	height:200px;
	background-color:blue;
}
#box3{
	width:200px;
	height:200px;
	background-color:yellow;
}
#box4{
	width:200px;
	height:200px;
	background-color:green;
}
#box5{
	width:200px;
	height:200px;
	background-color:orange;
}